#different-users{
    background-color: $lilac;
    color: $white;

    .grid{

        .inner_grid{

            .content_grid{

                h1{
                    margin: 0 auto;
                    text-align: center;
                    grid-column: 4/ span 6;
                }



            }

            .image-50{
                background-image: url(./../img/tablet-mockups-story.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}