#project{

        .grid{

            .inner_grid{

                .content_grid{
                    color: $white;

                    h1{
                        margin: 0 auto;
                        text-align: center;
                        grid-column: 6/ span 2;
                        // color: $purple;
                    }

                    .cover-image{
                        grid-column: span 12;
                        background-image: url(./../img/pippin-visualisatie.jpg);
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        
                        
                    }

                    .centered-text{
                        margin: 20px;
                    }

                    

                }
            }
        }
}