#team{
    background-color: $lilac;
    z-index: 999;
    margin-top: -7px;

        .grid{


            .inner_grid{

                .content_grid{
                    grid-template-columns: repeat(10, 1fr);

                    .team-member{
                        position: relative;
                        grid-column: span 2;
                        // background-color: $white;
                        height:400px;
                        z-index: 10;
                        border-radius: 2px;
                        background-position: center center;
                        background-size: cover;
                        

                        &.carli{
                            background-image: url(./../img/carli.jpeg);
                            background-position: center left;
                        }

                        &.hayen{
                            background-image: url(./../img/hayen.jpeg);
                        }

                        &.julia{
                            background-image: url(./../img/julia.png);
                        }

                        &.thiemen{
                            background-image: url(./../img/thiemen.png);
                        }

                        &.yentl{
                            background-image: url(./../img/yentl.png);
                            background-position: center left;
                        }

                        .team-name{
                            position: absolute;
                            bottom:0;
                            width: 100%;
                            background: rgba(54, 74, 157, .5);
                            z-index: 10;
                            transition: 200ms;

                            h3{
                                font-size: 18px;
                                color: $white;
                                font-weight: 500;
                            }

                            
                        }

                        &:hover{

                            .team-name{
                                background: rgba(69, 83, 136, 0.9);
                            }
                        }
                    }

                }
            }
        }
}