#technical-aspects{
    background-color: $purple;
    color: $white;

    .grid{

        .inner_grid{

            .content_grid{

                h1{
                    margin: 0 auto;
                    text-align: center;
                    grid-column: 4/ span 6;
                }

                h3{
                    font-weight: 700;
                }

                .cover-image{
                    margin-top: 0;
                    background-image: url(./../../img/tablet-mockup-leerling.jpg);
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    

                }
            }
        }
    }
}